__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
.git
.gitignore
.env
.venv
env/
venv/
ENV/
.vscode
.idea
*.db
*.sqlite
*.sqlite3
FamilyFileVault/
.DS_Store
*.md
.devcontainer

## ssh keys
*.pem
